body{
    background: #34cec6;
}
h3{
    text-align: center;
}
.containe{
   background: #34cec6;
}

.centrar{
    display: flex;
    background: #34cec6;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}
.centrar1{
    display: flex;
    
    justify-content: center;
   
    align-items: center;
}
/* estilo del carousel*/
#slidesshowImg{
    width: 21.961932650073205vw;
    height: 21.961932650073205vw;
    object-fit: cover;
    object-position: bottom;
    padding: 0px;
    
}
#id3{
    text-align: center;
}
.cajas{
    background: #34cec6;
    border-color: green;
    border-style: dotted;
    border-radius: 0.7320644216691069vw;
    color: black;
    padding-left: 1.4641288433382138vw;
    
}
.imgs_cajitas{
    width: 8.784773060029282vw;
    height: 8.784773060029282vw;
  
}

footer{
    border-radius: 20px;
    background: grey;
    
}
form{
    text-align: center;
}
input{
    width:10%;
}
.titulo1{
    font-size: 38px;
    padding-top: 10px;
}
.TT{
text-align: left;
margin-left: 10px;
width: 100%;
}
.TT1{
    text-align: left;
    margin-right: 20%;
    width: 100%;
    }
.textoI{
    width: 250px;
    margin-top: 25px;
    margin-left: 30%;
    align-items: center;
    justify-content: left;
  
    
}
.textoI1{
    width: 250px;
    margin-top: 10px;
    margin-left: 40%;
    align-items: center;
    justify-content: left;
  
    
}

.form-contro{
    padding-top: 40px;
    padding-bottom: 40px;
}
